# SQL(Structured Query Language)

## Data Types 
1. `int` = stores integer values
2. `varchar` = stores string values
3. `date` = integer values in data format
4. `decimal` = decimal values in data format
## Logical operators
1. `<` = smaller than
2. `>` = greater than
3. `<=` = smaller than equal to
4. `>=` = greator then equal to
5. `=` = equal to
6. `<>` = not equal to
7. `and` = `True` only if all the conditions are `True`
8. `or` = `True` even if one condition is `Trye`
## Creation of Table
1. `create table` table_name(
    column_name `data type(`number of bytes`)`
`);`
* creates a tabe named `table_name` with column named`column_name` which stores `data type` value with every data holding `number of bytes` 
2. ### Remark - 
* 1. `primary key` = makes the column primary key
* 2. `auto increment` = makes the column values auto incrementing with each addtition of row
* 3. `mot Null` = the value cannot be nul
* 4. `umique` = the value should be unique
* 5. `defualt` value =  makes the default value of the column to `value`
* 6. `foreign key(`column name`)` `refrences(`column_name`)`
## Insertion 
1. `insert into` table_name`(`name of the columns`) values(`comma seperated values`);`
* inserts `comma seperated values` into the `names of the columns` of the `table_name`
2. ### Remark
1. name of the columns is by default `all`
## Describe of table 
1. `describe` table_name
* describes the `table_name` 
## Drop of table 
1. `drop table` table_name
* deletes the `table_name`
## Alter of table 
1.  `alter table` table_name 
    `add` column_name `data type(`number of bytes`);`
* adds the `columns_name` of `data types` each data holding `number of bytes`  in the `table_name`
2.  `alter table` table_name
    `drop` column_name`;`
* deletes the `column_name` from the `table_name`
3.  `alter table` table_name
    `add foriegn key(`column_name`) refrences` table_name`(`column_name`);`
* adds a `foriegn key column_name` refrensing to  column_name of table_name of table_name
## Select of table
1.  `select` column_name
    `from` table_name
* returns `column_name` from `table_name`
2.  `select` column-name
    `from` table_name
    `where` condition
* returns `column_name` from `table_name` which satisfies the `condition`
3.  `select` column_name
    `from` table_name
    `order by` column_name
* returns `column_name` from `table_name` and orders them acooring to the `column_name`
4.  `select` column_name
    `from` table_name
    `limit` limit
* returns `column_name` from `table_name` and limit the output to `limit`
5.  `select` column_name `as` name
    `from` table_name
* returns `column_name` from `table_name` and names them as `name`
6.  `select distinct` column_name
    `from` table_name
* returns unique values of `column_name` from `table_name`
7.  `select count()` table
    `from` table_name
* returns count of values of `column_name` from `table_name`
8.  `select avg()` column_name
    `from` table_name
* returns average of values of`column_name` from `table_name`
9.  `select` columns_name
    `from` table_name
    `union`
    `select` column_name
    `from` table_name
* returns union of  `column_name` from `table_name` and `column_name` from `table_name`
10. `select sum()` column_name
    `from` table_name
* returns the sum of values of `column_name` from `table_name`    
11. `select` column_name
    `from` table_name
    `join` table_name
    `on` column_name `=` table_name.column_name
* returns `column_name` from `table_name` joining with `column_name` pointing towards the window
12. `select` column_name
    `from` table_name
    `left join` table_name
    `on` column_name `=` table_name.column_name
13. `select` column_name
    `from` table_name
    `right join` table_name
    `on` column_name `=` table_name.column_name   
## Update of table
1.  `update` table_name
    `set` column_name 
    `where` column_name `=` data`;`
* updates the `table_name` setting the `column_name` where the `column_name` as `data`
## Delete of table 
*   `delete from` table_name
    `where` columns_name `=` data`;`